@charset "UTF-8";
@import url(reset.css);
@font-face {
  font-family: 'Gotham Bold';
  src: url("fonts/Gotham Rounded Bold.eot");
  src: local("☺"), url("fonts/Gotham Rounded Bold.woff") format("woff"), url("fonts/Gotham Rounded Bold.ttf") format("truetype"), url("fonts/Gotham Rounded Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham Book';
  src: url("fonts/Gotham Rounded Book.eot");
  src: local("☺"), url("fonts/Gotham Rounded Book.woff") format("woff"), url("fonts/Gotham Rounded Book.ttf") format("truetype"), url("fonts/Gotham Rounded Book.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #fafafa; }

#root {
  display: flex;
  flex-direction: column; }

#r1 {
  display: flex;
  flex-direction: row; }

.primary {
  font-family: "Gotham Bold";
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 2px;
  background-color: #0098ff;
  padding: 16px;
  text-transform: uppercase; }

.btn {
  border-radius: 5px; }

.secondary {
  font-family: "Gotham Book";
  font-size: 14px;
  color: #0098ff;
  letter-spacing: 1.75px; }

.title {
  font-family: "Gotham Book";
  font-size: 24px;
  color: #0098ff;
  letter-spacing: 1.5px;
  text-transform: uppercase; }

.nav {
  font-family: "Gotham Book";
  font-size: 18px;
  color: rgba(0, 0, 0, 0.55); }

.heading {
  font-family: "Gotham Book";
  font-size: 24px;
  color: #555555;
  letter-spacing: 0.5px; }

.formlabel {
  font-family: "Gotham Book";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  text-transform: uppercase; }

.emptystate {
  font-family: "Gotham Book";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.25);
  letter-spacing: 2px; }

.normal {
  font-family: "Gotham Book";
  font-size: 15px;
  color: black;
  letter-spacing: 0.28px; }

.normaltwo {
  font-family: "Gotham Book";
  font-size: 18px;
  color: black;
  letter-spacing: 0.34px; }

.card {
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-shadow: 0 2px 2px 0 #ECECEC;
  border-radius: 10px; }

.topbar {
  height: 66px;
  background: #FFFFFF;
  box-shadow: 0 1px 0 0 #D8E7F3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .topbar .title {
    padding-left: 48px; }
  .topbar .user-cntl {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .topbar .user-cntl .normal {
      padding-left: 16px; }
    .topbar .user-cntl .more {
      height: 12px;
      width: 12px;
      padding-right: 48px;
      padding-left: 12px; }
    .topbar .user-cntl .dpwrapper {
      height: 44px;
      width: 44px;
      border: 1px solid rgba(0, 152, 255, 0.5);
      border-radius: 50%; }
      .topbar .user-cntl .dpwrapper .dp {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding: 2px; }

.sidebar {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 1px 0px 0 0 #D8E7F3; }
  .sidebar div {
    display: inline-block; }
    .sidebar div a {
      display: flex;
      padding: 20px 72px 20px 32px; }
      .sidebar div a img {
        margin-right: 16px;
        vertical-align: bottom; }

.activeoption {
  background-color: rgba(0, 152, 255, 0.05);
  border-left: 2px solid #0098ff; }
  .activeoption span {
    color: #0098ff; }

#primaryform {
  margin: 40px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #primaryform p {
    width: 80%;
    margin: 48px 0px; }

/*# sourceMappingURL=style.css.map */
